h1, .headline {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr, .horizontalBar {
    width: 80vw;
    height: 4px;
    background-color: black;
    margin-left: auto;
    margin-right:auto;
}

.navbar-center {
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.navspace {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly !important;
  width: 100%;
  padding-left: 0 !important; /* remove Bootstrap's UL indentation */
}
